/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: 'apple_regular';
  src: url('applegaramond-webfont.woff2') format('woff2'),
       url('applegaramond-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'apple_gbold';
  src: url('applegaramond-bold-webfont.woff2') format('woff2'),
       url('applegaramond-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'apple_garamond_lightregular';
  src: url('applegaramond-light-webfont.woff2') format('woff2'),
       url('applegaramond-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'apple_garamonditalic';
  src: url('applegaramond-italic-webfont.woff2') format('woff2'),
       url('applegaramond-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1{
  text-align: center;
  letter-spacing: 0.1cap;
  font-family: apple_gbold;
}
body{
  font-size: 15px;
  font-family: apple_regular;
  letter-spacing: 0.1cap;
  word-spacing: 5px;
}
section, h2, p1{
  text-indent: 20px;
}
a{
  text-decoration: underline;
}
/*links visited*/
a:visited, a:hover, a:focus{
  color:  #a66;
  text-decoration: none;
}
/* Add an external link icon for external links */
a[href^="http"]:after {
  content: '';
  display: inline-block;
  background-image: url('external-link-52.png');
  background-size: contain; /* Ensures the image scales proportionally */
  width: 15px; /* Adjust the size as needed */
  height:16px; /* Adjust the size as needed */
  vertical-align: middle;
  margin-left: 5px;

}
section>ul>li{
  list-style: none;
}
section>ul>li:before{
  content: '';
  background-image: url('arrow.png');
  display: inline-block;
  background-size: contain;
  width: 8px;
  height: 8px;
  padding: 1px;
  margin-right: 5px;
}
nav>ul>li{
  list-style: none;
  padding: 20px;
  margin-bottom: 10px;
  border-color: #a66;
  border-style: solid;
}